<?xml version="1.0"?>
<configuration>  
  <appSettings>
    
    <!-- Connection Logger  -->
    <add key="Logger" value="Server={0};database={1};uid={2};pwd = {3}"/>   
    
    <!-- SAP DB -->
    <add key="SAPServer" value="LENOVO-PC"/>
    <add key="SAPlicense" value="LENOVO-PC"/>
    <add key="DbServerType" value="2008"/>
    <add key="MainDB" value="SBODemoIn"/>
    <add key="DbUserName" value="sa"/>
    <add key="DbPassword" value="sap2008"/>
    <add key="SAPUserName" value="manager"/>
    <add key="SAPPassword" value="1234"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
